/* ==============================================
   FONTS
   ============================================== */
   @import url('https://fonts.google.com/specimen/Libre+Baskerville');



/* ==============================================
   COLORS
   ============================================== */


/* ==============================================
   GLOBAL STYLES
   ============================================== */

.top {
    margin-top: 3%;
}


body {
    background-color: #F7F7F7;
}

p {
    color: #4C4C4C;
    font-family: 'Baskerville';
    font-size: 12pt;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    color: #4C4C4C;
    font-family: 'Baskerville';
    font-size: 55pt;
    text-align: center;
    margin: 20px 0px 20px 0px;
}

h2 {
    color: black;
    font-family: 'Baskerville';
    font-size: 22pt;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px 0px 15px 0px;
}


h3 { 
    color: #4C4C4C;
    font-family: 'Open Sans';
    font-size: 13pt;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px 0px 10px 0px;
}

nav ul {
    list-style: none;
    margin-left: 260px;
    margin-right: 260px;
    margin-bottom: 70px;
    display: flex;
    flex-flow: row wrap ; 
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    border:1px solid #4C4C4C;
    border-width:0px 0px 1px 0px;
}

nav ul li a {
    background: none;
    list-style: none;
    text-decoration: none;
    display: block; /* !!! */
    color: #4C4C4C;
    text-align: center;
    padding: 1em;
}

nav ul li a:hover {
    color: rgb(255, 195, 44);
    text-decoration: none;
}

.ro > div {
    display:flex; 
    align-items:stretch;
}

article {
    background-color: white;
    margin-bottom: 0.75rem;
    position: relative; 
}

.btn {
    border-radius: 0;
    bottom: 15px;
    color: white;
    background-color:rgb(105, 105, 105);  
    display: inline-block;
    width: 45%;
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 10px 0px 10px 10px;
}

.btn:hover {
    background-color:rgb(255, 195, 44) ;
    border-color:rgb(255, 195, 44);
}  


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(105, 105, 105);
    height: 6rem;
    width: 100%;
    padding: 1rem;
  }
  
  .name {
    padding: 1rem;
    color: white;
   
  }
  
  .logo {
    display: block;
  }

  .image {
      width: 40%;
  }






/* MEDIA QUERIES
*********************************************/


/* Extra small devices (portrait phones, less than 576px)
/ No media query since this is the default in Bootstrap*/


/* Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {}


/* Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    .btn-info {
        background-color: black;
        border-color: black;
    }
}


/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {}


/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {}